
{% block title %}nlist{% endblock %}

{% block stylesheets %}
<!-- Shepherd.js CSS -->
{% endblock stylesheets %}

{% block content %}
<div class="row">
    <!-- Users Active -->
    <div class="col-lg-6 col-md-6 col-12">
        <div class="card overflow-hidden shadow-lg" style="background-image: url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/argon-dashboard-pro/assets/img/reports1.jpg'); background-size: cover;">
            <span class="mask bg-gradient-dark"></span>
            <div class="card-body p-3 position-relative">
                <div class="row">
                    <div class="col-8 text-start">
                        <div class="icon icon-shape bg-white shadow text-center border-radius-md">
                            <i class="ni ni-circle-08 text-dark text-lg opacity-10" aria-hidden="true"></i>
                        </div>
                        <h5 class="text-white font-weight-bolder mb-0 mt-3">
                            {{ active_users_count }}
                        </h5>
                        <span class="text-white text-sm">Users Active</span>
                    </div>
                    <div class="col-4">
                        <p class="text-white text-sm text-end font-weight-bolder mt-auto mb-0">+55%</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Appointments -->
    <div class="col-lg-6 col-md-6 col-12 mt-4 mt-md-0">
        <div class="card overflow-hidden shadow-lg" style="background-image: url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/argon-dashboard-pro/assets/img/reports2.jpg'); background-size: cover;">
            <span class="mask bg-gradient-dark"></span>
            <div class="card-body p-3 position-relative">
                <div class="row">
                    <div class="col-8 text-start">
                        <div class="icon icon-shape bg-white shadow text-center border-radius-md">
                            <i class="ni ni-active-40 text-dark text-lg opacity-10" aria-hidden="true"></i>
                        </div>
                        <h5 class="text-white font-weight-bolder mb-0 mt-3">
                            {{ total_appointments }}
                        </h5>
                        <span class="text-white text-sm">Appointments</span>
                    </div>
                    <div class="col-4">
                        <p class="text-white text-sm text-end font-weight-bolder mt-auto mb-0">+124%</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Purchases -->
    <div class="col-lg-6 col-md-6 col-12 mt-4">
        <div class="card overflow-hidden shadow-lg" style="background-image: url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/argon-dashboard-pro/assets/img/reports3.jpg'); background-size: cover;">
            <span class="mask bg-gradient-dark"></span>
            <div class="card-body p-3 position-relative">
                <div class="row">
                    <div class="col-8 text-start">
                        <div class="icon icon-shape bg-white shadow text-center border-radius-md">
                            <i class="ni ni-cart text-dark text-lg opacity-10" aria-hidden="true"></i>
                        </div>
                        <h5 class="text-white font-weight-bolder mb-0 mt-3">
                            {{ total_purchases }}
                        </h5>
                        <span class="text-white text-sm">Purchases</span>
                    </div>
                    <div class="col-4">
                        <p class="text-white text-sm text-end font-weight-bolder mt-auto mb-0">+15%</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Likes (Can represent positive feedback or completions) -->
    <div class="col-lg-6 col-md-6 col-12 mt-4 mt-md-0">
        <div class="card overflow-hidden shadow-lg" style="background-image: url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/argon-dashboard-pro/assets/img/reports4.jpg'); background-size: cover;">
            <span class="mask bg-gradient-dark"></span>
            <div class="card-body p-3 position-relative">
                <div class="row">
                    <div class="col-8 text-start">
                        <div class="icon icon-shape bg-white shadow text-center border-radius-md">
                            <i class="ni ni-like-2 text-dark text-gradient text-lg opacity-10" aria-hidden="true"></i>
                        </div>
                        <h5 class="text-white font-weight-bolder mb-0 mt-3">
                            940
                        </h5>
                        <span class="text-white text-sm">Likes</span>
                    </div>
                    <div class="col-4">
                        <p class="text-white text-sm text-end font-weight-bolder mt-auto mb-0">+90%</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Reviews -->
<div class="col-lg-6 col-12 mt-4 mt-lg-0">
    <div class="card h-100">
        <div class="card-header pb-0 p-3">
            <h6 class="mb-0">Reviews</h6>
        </div>
        <div class="card-body pb-0 p-3">
            <ul class="list-group">
                <li class="list-group-item border-0 d-flex align-items-center px-0 mb-0">
                    <div class="w-100">
                        <div class="d-flex mb-2">
                            <span class="me-2 text-sm font-weight-bold text-capitalize">Positive reviews</span>
                            <span class="ms-auto text-sm font-weight-bold">{{ positive_reviews_percentage }}%</span>
                        </div>
                        <div>
                            <div class="progress progress-md">
                                <div class="progress-bar bg-gradient-info w-{{ positive_reviews_percentage }}" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item border-0 d-flex align-items-center px-0 mb-2">
                    <div class="w-100">
                        <div class="d-flex mb-2">
                            <span class="me-2 text-sm font-weight-bold text-capitalize">Negative reviews</span>
                            <span class="ms-auto text-sm font-weight-bold">{{ negative_reviews_percentage }}%</span>
                        </div>
                        <div>
                            <div class="progress progress-md">
                                <div class="progress-bar bg-gradient-danger w-{{ negative_reviews_percentage }}" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="card-footer pt-0 p-3 d-flex align-items-center">
            <div class="w-60">
                <p class="text-sm">
                    More than <b>1,500,000</b> developers used Creative Tim's products and over <b>700,000</b> projects were created.
                </p>
            </div>
            <div class="w-40 text-end">
                <a class="btn bg-gradient-dark mb-0 text-end" href="javascript:;">View all reviews</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}